
dist
.solid
.output
.vercel
.vinxi

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
.history
public/profile_images/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

/temp

